
@font-face{
    font-family: 'Impirial';
    src: url(../fonts/IMPERLI.ttf);
}
@font-face{
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: 'Roboto BoldItalic';
    src: url(../fonts/Roboto-BoldItalic.ttf);
}